body {
    background-color: #232323;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
    background-color: steelblue;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    text-transform: uppercase;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: inherit;
    color: steelblue;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}

#colorDisplay {
    display: block;
    font-size: 200%; 
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

#message {
    display: inline-block;
    width: 20%;
    font-family: 'Poppins', sans-serif;
}

.square {
    width: 30%;
    margin: 1.66%;
    background: red;
    padding-bottom: 30%;
    float: left;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

.selected {
    color: white;
    background-color: steelblue;
}
